.chat{
    flex:0.65;
    display: flex;
    flex-direction: column;

}

.chat__header{
    padding: 15px;
    display:flex;
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.chat__headerInfo{
    flex:1;
    align-content: center;
}

.chat__headerInfo > h3{
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo > p{
    color:gray;
}

.chat__headerRight{
    display:flex;
    justify-content: center;
    min-width: 100px;
}

.chat__body{
    background-color: rgb(46, 122, 46);
    overflow:scroll;
    flex:1;
    flex-direction: column;
    padding:30px;
    overflow: scroll;
}

.chat__message{
    position:relative;
    margin: 10px;
    padding:10px;
    background-color:#ccc;
    width: fit-content;
    border-radius: 10px;
    font-weight: 500;

    }

.chat__name{
    position: absolute;
    left: -30px;
    font-weight: 800;
    font-size: xx-small;
}

.chat__timestamp{
    margin-left: 10px;
    font-size: xx-small;
}

.chat__reciever{
    margin-left: auto;

    color:black; 
}

.chat__footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat__footer > form{
    flex:1;
    display:flex;
}

.chat__footer > form > input{
    flex:1;
    border-radius: 30px;
    padding:10px;
    border:none;

} 
.chat__footer > form > button{
    display:none
} 